// Variables
// *------------------------------------------------*
$header-gradient: linear-gradient(45deg, rgba(15, 105, 215, 1) 0%, rgba(34, 220, 253, 1) 130%);
$color-white: #ffffff;
$color-black: #000000;
$color-fire: #1761fd;
$color-ice: #1761fd;
$color-cold: #e7fbff;
$color-orange: #1761fd;
$color-cream: #FAFBF4;
$color-island: #FAFBF4;

$radius-2: 2px;
$radius-4: 4px;
